<div class="max-w-2xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
  <div class="mb-6">
    <h1 class="text-2xl font-bold text-gray-900">固定費を追加</h1>
    <p class="text-sm text-gray-500"><%= @year %>年<%= @month %>月</p>
  </div>

  <%= render "form", fixed_cost: @fixed_cost %>
</div>
