<div class="max-w-xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
  <div class="mb-6">
    <h1 class="text-2xl font-bold text-gray-900">単位を編集</h1>
    <p class="mt-1 text-sm text-gray-600"><%= @unit.name %></p>
  </div>

  <%= render "form" %>
</div>
